body {
	background-color:rgb(10,9,33)
}

h1{
	font-family: "Courier New", Courier, monospace;
	font-size: 40px;
	color:rgb(255,255,255);
	text-align:center;
}

p {
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	color:rgb(255,255,255);
	text-align:center;
}

#tagline{
	background-image:url("grapes_hands.svg");
	background-size:100%;
	background-repeat:no-repeat;
	padding:300px 20px;
	text-align:center;
}

h2{
	font-size:50px;
	font-family: "Courier New", Courier, monospace;
	color:rgba(255,255,255,1); 
}

h3{
	font-family: 'Economica', sans-serif;
	font-size: 20px;
	color:rgb(255,255,255);
	text-align:center;
}

.nav-items{
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding:0px;
	text-align:right;
	
}

.nav-items li{
	display:inline;
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	color:rgba(255,255,255);
}

.nav-items a{
	display:inline-block;
	padding:10px;
}